body{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 11pt;
}

div{
    padding: 10px;
}

.content{
    width: 700px;
    margin: auto;
}

.item{
    font-size: 180%;
    color: #52A3FF;
}

.item:before{
    content: ">";
    font-weight: 800;
    font-size: 100%;
    color:#E5B200;
}

.group{
    background-color: #EDEDED;
    border-radius: 20px;
    display: inline-block;
    width: 100%;
}

.fields{
}

.fields:after{
    content: "";
    clear: both;
    display: table;
}


.fields .inputs{
    float: left;
    width: 35%;
}

.center{
    padding: 0;
    padding-left: 40%;
}

.fields .description:after{
    content: "";
    border: 10px solid transparent;
    border-right: 10px solid #D9E5F2;
    position: absolute;
    width: 0;
    margin-top: -29px;
    margin-left: -39px;
    height: 0;
}

.fields .description:before{
    content: "";
    border: 10px solid transparent;
    border-right: 10px solid #BBB;/*#D9E5F2*/
    position: absolute;
    width: 0;
    margin-left: -40px;
    height: 0;
}

.fields .description{
    font-size: 85%;
    float: right;
    width: 55%;
    background-color: #D9E5F2;
    padding: 20px;
    border-radius: 10px;
    margin-top: 10px;
    border: 1px solid #BBB;
}

select{
    float: right;
    width: 140px;
}

.button{
     text-decoration:none;
     width: 70px;
     margin: 20px auto;
     text-align:center;
     padding:8px 45px;
     border:solid 4px #ffffff;
     -webkit-border-radius:50px;
     -moz-border-radius:50px;
     border-radius: 50px;
     color:#ffffff;
     background-color:#51a0fb;
     background-image: -moz-linear-gradient(top, #51a0fb 0%, #3b75b6 100%);
     background-image: -webkit-linear-gradient(top, #51a0fb 0%, #3b75b6 100%);
     background-image: -o-linear-gradient(top, #51a0fb 0%, #3b75b6 100%);
     background-image: -ms-linear-gradient(top, #51a0fb 0% ,#3b75b6 100%);
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b75b6', endColorstr='#3b75b6',GradientType=0 );
     background-image: linear-gradient(top, #51a0fb 0% ,#3b75b6 100%);
     -webkit-box-shadow:0px 0px 11px #bababa, inset 0px 0px 1px #ffffff;
     -moz-box-shadow: 0px 0px 11px #bababa,  inset 0px 0px 1px #ffffff;
     box-shadow:0px 0px 11px #bababa, inset 0px 0px 1px #ffffff;
     cursor: pointer;
}

.results img{
    margin: 20px auto;
    display: block;
}